.blog-cat ul.category-list {
    margin-bottom: 5rem;
}

.blog-page .title-icon {
    top: 40%;
}

.articles-list .article-wrapper {
    position: relative;
    align-self: center;
}

.articles-list .article-title,
.articles-list .article-inner:hover .article-title {
    position: relative;
    left: auto;
    transform: translate(0, 0);
}

.articles-list .article-text {
    color: var(--gray-75);
    transition: var(--transition-normal) ease-in;
    transition-property: color;
    margin-top: 1.5rem;
    -webkit-line-clamp: 3;
}

.articles-list .article-text,
.articles-list .article-inner:hover .article-text {
    position: relative;
    left: auto;
    transform: translate(0, 0);
    opacity: 1;
}

.articles-list .article-inner:hover .article-text {
    color: var(--white);
}

.articles-list .article .link-name {
    opacity: 1;
    color: var(--black-75);
    transition: var(--transition-normal) ease-in;
    transition-property: color;
}

.articles-list .article-inner {
    grid-template-rows: 1fr auto 1fr;
}

.article-wrapper {
    min-height: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
}

.article-icon {
    align-self: center;
    justify-self: center;
    transition: var(--transition-normal) ease-in;
    transition-property: filter;
}

.article-icon img {
    width: 100%;
    height: 100%;
    max-width: 9rem;
    max-height: 7rem;
}

.articles-list .article-inner:hover .article-icon {
    filter: brightness(0) invert(1);
}

.articles-list .article-inner:hover .icon-arrow .angle path {
    stroke: var(--white);
}

.articles-list .article-inner:hover .icon-arrow .icon-line {
    background: var(--white);
}

.articles-list .article-inner:hover .link-name {
    color: var(--white);
}

.blog-pagination {
    margin-top: 6rem;
}
.articles-list .article+.article{
	margin-top:-1px;
}

.blog-pagination .prev svg,.blog-pagination .next svg{
	width:1.75rem;
	height:1.75rem;	
}
.page-numbers{
	width:3rem;
	height:3rem;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-size:1.25rem;
	color: var(--black-75);
	border: 1px solid var(--gray-25);
	position:relative;
	transition: var(--transition-normal) ease-in;
   transition-property: color;
	overflow:hidden;
}
.page-numbers svg path{
		transition: var(--transition-normal) ease-in;
   transition-property: fill;
}
.page-numbers::after,
.page-numbers::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-numbers::after {
    background: var(--main);
    transform: translate(-100%, 0);
    opacity: 0;
    transition: var(--transition-normal) ease-in;
    transition-property: transform, opacity;
    z-index: -1;
}

.page-numbers:hover::after {
    transform: translate(0, 0);
    opacity: 1;
}
.page-numbers.current::after {
	    transform: translate(0, 0);
    opacity: 1;
}
.page-numbers:hover,
.page-numbers.current,
.page-numbers:focus {
    color: var(--white);
}
.page-numbers:hover svg path{
	fill:var(--white)
}
.page-numbers + .page-numbers{
	margin-left:-1px;
}
.page-numbers.current{
	cursor:default;
}

@media screen and (max-width:732px) {
    .article-wrapper {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .article-icon {
        order: 0;
        justify-self: start;
    }
    .article-descr {
        order: 1;
    }
    .articles-list .article-text {
        margin-top: 0.5rem;
    }
    .articles-list .article .link-name {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width:720px) {
    .articles-list .article-text {
        display: -webkit-box;
    }
    .articles-list .article .link-name .icon-arrow {
        opacity: 1;
    }
}